

    <div class="container">

      <form class="form-signin" ng-controller="AuthController">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="user.email" ng-model="user.email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="user.password" ng-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()"value="submit">
      </form>

      <br>
      <div class="row">
        <div class="col-lg-4"></div>
        
        <div class="col-lg-4">
          <p class="form-signin"><a href="new-user.html">Don't have an account? Sign up for free!</a></p>
        </div>
        
        <div class="col-lg-4"></div>


      </div>

    </div> <!-- /container -->

    