
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8 col-sm-12">
					<h2><span class="glyphicon glyphicon-plus"></span>&nbsp;New Wod</h2>
					<!--Start New WOD Form-->
					<form id="form" name="form" ng-controller="NewWod">
						<div class="input-group input-group-md">
					  		<span class="input-group-addon">WOD Name</span>
					  		<input type="text" class="form-control" placeholder="WOD Name" id="form-title" name="wod.wodName" ng-model="wod.wodName">
						</div>
						<br>
				
						<div class="input-group input-group-md">
							  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> Date   </span></span>
							  <input type="text" class="form-control" placeholder="Click to open date picker" id="form-place" name="wod.date" ng-model="wod.date">
						</div>
						<br>
						
						<div class="input-group input-group-md">
							  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> Workout Type </span></span>
							  <select class="form-control" name="wod.scoreType" ng-model="wod.scoreType">
							  	<option value="amrap">AMRAP</option>
								<option value="forTime">For Time</option>
								<option value="forReps">For Reps</option>
								<option value="strength">Strength</option>
								<option value="mono">Run/Row/Swim</option>
							  </select>
						</div>
						
					<!-- 	<div class="input-group input-group-md">
							  <span class="input-group-addon"><span class="glyphicon glyphicon-th"> Score Type</span></span>
							  <input type="text" class="form-control" placeholder="Click to choose score type" id="form-desc" name="wod.scoreType" ng-model="wod.scoreType">
						</div> -->

						<div class="input-group input-group-md" ng-show="wod.scoreType == 'mono' || wod.scoreType == 'forTime'">
							  <span class="input-group-addon"><span class="glyphicon glyphicon-time"> Time </span></span>
							  <input ng-click="createTimepicker()" type="text" class="form-control" placeholder="Click to choose score type" id="wodTime" name="wod.score" ng-model="wod.score">
						</div>

						<div class="input-group input-group-md" ng-show="wod.scoreType == 'mono'">
							  <span class="input-group-addon"><span class="glyphicon glyphicon-road"> Distance </span></span>
							  <input type="text" class="form-control" placeholder="Add your distance" id="form-desc" name="wod.distance" ng-model="wod.distance">
						</div>
						
						<div class="wod-desc" ng-show="wod.scoreType == 'amrap' || wod.scoreType == 'forTime' || wod.scoreType == 'forReps'">
							<h3><span class="glyphicon glyphicon-pencil"></span> WOD Description</h3>
							
							<div class="input-group input-group-md">
								  <!--<span class="input-group-addon glyphicon glyphicon-pencil"> WOD Description </span>-->
								  <textarea name ="wod.desc" ng-model="wod.desc" type="text" class="form-control" placeholder="Ex: 21-15-9 Thrusters @95, Pullups" cols="100%"></textarea>
							</div>
						</div>
						<br>
						<br>
						<button class="btn btn-primary" id="btn-submit" ng-click="createNewWod()"> <span class="glyphicon glyphicon-plus"></span> Add WOD!</button>
					</form>

				</div><!--End col-md-8 div-->
				<div class="col-md-2"></div>	
		</div> <!--END row-->
	</div><!--END container-->

