<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8 col-sm-12">
					
					<!--Start Athlete Profile Page Nested Col-->
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<h2><span class="glyphicon glyphicon-user"></span> Athlete Profile </h2>
						</div>
						<div class="col-lg-6 col-md-2 col-sm-6 col-xs-6">
							<a href=""><h3 class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Edit Profile</h3></a>
						</div>
					</div>

					<!--Start Profile Info Nested Cols-->

					<div class="row">
						
						<div class="col-md-4 col-sm-6 col-xs-6" >
							<img class="img-responsive img-thumbnail" src="img/man.jpeg">
						</div>
						
						<div class="col-md-4 col-sm-4 col-xs-4">
							<table class="table-responsive table-condensed">
							<tr>
								<th>Name</th>
							</tr>
							<tr>
								<td>Jeff Everhart</td>
							</tr>
							</table>
							<table class="table-responsive table-condensed">
							<tr>
								<th>Affiliate</th>
							</tr>
							<tr>
								<td>CrossFit First Due</td>
							</tr>
							</table>
						</div>
						
						<div class="col-md-8 col-sm-12 col-xs-12">
								<table class="table-responsive table-condensed">
								<tr>
									<th>Gender</th>
									<th>Weight</th>
									<th>Height</th>
									<th>Age</th>
								</tr>
								<tr>
									<td>Male</td>
									<td>225 lbs</td>
									<td>5 '10</td>
									<td>26</td>
								</tr>
								</table>
						</div>
					</div> <!--End Profile Info Nested Cols-->

					<input type="filepicker" data-fp-apikey="AOgQvlUQ4RF69YAGtSXECz"
					onchange="alert(event.fpfile.url)">
					
					<div class="row">
						<div class="col-md-4 col-sm-8 col-xs-8">
								<div class="panel panel-default">
									<div class="panel panel-heading"
										<h4>Olympic Lifting</h4>
									</div>
									<div class="panel panel-body">
										Info
									</div>
								</div>
						</div>

					</div>	



					


					

					

					<a href=""><h3 class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Edit Profile</h3></a>


				






				</div><!--End col-md-8 div-->
				<div class="col-md-2"></div>	
		</div> <!--END row-->
	</div><!--END container-->

