<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8 col-sm-12">
					
					<!--Start Dashboard Info Progress Bars-->
					
					<h2><span class="glyphicon glyphicon-signal"></span> Fitness Dashboard </h2>

					<!--Add popover tips to describe how fitness domains are calculated-->


					<h3><span class="glyphicon glyphicon-fire"></span> Power</h3>
					<div class="progress">
					  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					    <span class="sr-only">40% Complete (success)</span>
					  </div>
					</div>
					
					<h3><span class="glyphicon glyphicon-flash"></span> Speed</h3>
					<div class="progress">
					  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
					    <span class="sr-only">20% Complete</span>
					  </div>
					</div>

					<h3><span class="glyphicon glyphicon-refresh"></span> Stamina</h3>
					<div class="progress">
					  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
					    <span class="sr-only">60% Complete (warning)</span>
					  </div>
					</div>

					<h3><span class="glyphicon glyphicon-move"></span> Mobility</h3>
					<div class="progress">
					  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
					    <span class="sr-only">80% Complete (danger)</span>
					  </div>
					</div>
					<!--End Progress Bars-->

					<!--Start Most Recent WODs Tables-->

					<h3>Recent WODs</h3>
					<br>
					<form id="form" name="form">
						<div class="input-group input-group-md">
					  		<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span>&nbsp;Search WODs</span>
					  		<input type="text" class="form-control" placeholder="WOD Name" id="form-title" name="wodSearch" ng-model="wodSearch">
						</div>
					</form>
					<br>	

					<ul class="list-group" ng-repeat="(key, wod) in wods | limitTo: 10 | filter: wodSearch">
						<li class="list-group-item" >
							<h3>{{wod.name}}</h3>
							<p>{{wod | json}}</p>
						  	<a ng-click='viewWodDetails(wod.$id)' class="glyphicon glyphicon-chevron-right">More</a>
						</li>
					</ul>
					<div>
						<div class="panel panel-default" ng-repeat="(key, wod) in wods | limitTo: 10 | filter: wodSearch">
						  <div class="panel-heading">
						    <h3 class="panel-title">{{wod.name}}</h3>
						  </div>
						  <div class="panel-body">
						  	<p>{{wod | json}}</p>
						  	<a ng-click='viewWodDetails(wod.$id)' class="glyphicon glyphicon-chevron-right">More</a>
						  </div>
						</div>
					</div>

					<a ng-href="/all-wods"><h3 class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> View All WODs</h3></a>

				</div><!--End col-md-8 div-->
				<div class="col-md-2"></div>	
		</div> <!--END row-->
	</div><!--END container-->
